.todo{
  
  margin-top: 10%;
  padding: 1rem;
  width: 31%;
  background-color: rgb(88, 87, 87);
  font-size: medium;
}


.full{
  display: flex;
  justify-content: center;
  position: relative;
}

 
   .heading{
    display: flex;
    justify-content: center;
   
   }
   #button1{
    width: min-content;
    border: 2px ;
    position: absolute;
    transform: translate(790%, 480%);
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(88, 87, 87);
    color: black;
    }
   /* .button1{
     border: 2px ;
     position: absolute;
     transform: translate(790%, 480%);
     font-weight: bolder;
     font-size: x-large;
     background-color: rgb(88, 87, 87);
     color: black;
   } */
  
 
 .checkbox:checked +span{
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.574);
 
 }
.item{
  
  border: 1px solid;
  padding: 15px;
  width: 430px; 
  display: flex;
  justify-content: flex-start ;
  margin-left: 31%;
  background-color:rgb(88, 87, 87) ;
 }
.checkbox{
  width: 30px;
}
/* .items{
  border: 1px solid;
  padding: 15px;
  width: 430px; 
  display: flex;
  flex-direction: row;
  flex-direction: column-reverse;
  margin-left: 31%;
  background-color:rgb(88, 87, 87) ;
} */
.itemsleft{
  border: 2px solid;
  width: 34%;
  margin-left: 33%;
  
  background-color:rgb(88, 87, 87) ;

  display: flex;
  
  justify-content: center;
  justify-content: space-between;
  
    
}
.all{
 margin-top: 15px;
}
.completed{
  margin-top: 15px;
}
.active{
  margin-top: 15px;
}
.clear_all{
  margin-top: 15px;
}
