/* 
.center{
  background-color: rgba(108, 0, 209, 0.849);
} */
.itemsleft {
  border: 2px solid;
  width: 470px;
  margin-left: 32.5%;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.full {
  display: flex;
  justify-content: center;
  position: relative;
}

.todo {
  margin-top: 10%;
  padding: 1rem;
  width: 32%;
  background-color: rgb(48, 48, 48);
  font-size: medium;
}

#button1 {
  margin-top: 10%;
  margin-left: 22%;
  width: min-content;
  border: 2px;
  position: absolute;
  transform: translate(150%, 25%);
  font-weight: bolder;
  font-size: x-large;
  background-color: rgb(48, 48, 48);
  color: black;
}

.heading {
  display: flex;
  justify-content: center;
}

/* .map{
      border: 2px solid;
      display: flex;
      flex-direction: column;
      
     } */
.itemvalue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.map {
  border: 2px solid gray;
  width: 32.5%;
  padding: 1%;
  margin-right: 37px;
  font-size: 120%;
  background-color: rgb(48, 48, 48);
  color: white;
}
p {
  color: gray;
  margin-left: 10px;
}
