/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App{
  
  display: flex;
  justify-content: center;
} */
.todo{
  
  margin-top: 10%;
  padding: 1rem;
  width: 31%;
  background-color: rgb(88, 87, 87);
  font-size: medium;
}

.checkbox{
 border: 2px solid;
 width: 300px;
 height: min-content;
 font-size: 19px;
 margin-left: 33%;
 width: 32%;
 padding:10px;
 margin-top: 1%;
 background-color: rgb(88, 87, 87);
 }
.full{
  display: flex;
  justify-content: center;
  position: relative;
}
.checkbox1{
  border: 2px solid;
  width: 300px;
  height: min-content;
  font-size: 19px;
  margin-left: 33%;
  width: 32%;
  padding:10px;
  margin-top: 1%;
  background-color: rgb(88, 87, 87);
  }
  .checkbox2{
    border: 2px solid;
    width: 300px;
    height: min-content;
    font-size: 19px;
    margin-left: 33%;
    width: 32%;
    padding:10px;
    margin-top: 1%;
    background-color: rgb(88, 87, 87);
    }
    .checkbox3{
      border: 2px solid;
      width: 300px;
      height: min-content;
      font-size: 19px;
      margin-left: 33%;
      width: 32%;
      padding:10px;
      margin-top: 1%;
      background-color: rgb(88, 87, 87);
      }
   input[type=checkbox]:checked + span{
    color: rgba(128, 128, 128, 0.689);
    font-weight: bolder;
    text-decoration: line-through;
   }
   .heading{
    display: flex;
    justify-content: center;
   
   }
 #button{
 width: min-content;

 }
button{
  border: 2px ;
  position: absolute;
  transform: translate(790%, 480%);
  font-weight: bolder;
  font-size: x-large;
  background-color: rgb(88, 87, 87);
  color: white;
}
  /* .todo .button{
  position: absolute;
  transform: translate(-50%, -50%);
 } */